RewriteEngine On
RewriteBase /QuanLyBanGiay_PHP/

# admin
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^admin/(.*)$ admin/index.php?page=$1 [QSA,L]

RewriteRule ^admin/?$ admin/index.php?page=dashboard [QSA,L]

# user
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]