RewriteEngine On

RewriteRule ^admin/([a-zA-Z0-9_-]+)/?$ admin/index.php?page=$1 [QSA,L]
RewriteRule ^admin/?$ admin/index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]