body {
    font-family: 'Mulish', sans-serif;
}
.header {
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 16px; 
}
.container {
    width: 90%;
    margin: auto;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

/* =================================================== NAV ================================================================= */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 134px;
    height: auto;
}
.nav__menu {
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav__menu a {
    text-decoration: none;
    color: #000;
    font-weight: 600; 
    font-size: 16px; 
}
.nav__menu a:hover {
    color: #f5a623;
}
.header__icons {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 25px;
    cursor: pointer;
}
.cart {
    position: relative;
}
.badge {
    position: absolute;
    top: -6px;
    right: -8px;
    background: red;
    color: #fff;
    font-size: 13px;
    padding: 3px 7px;
    font-weight: 700;
    border-radius: 50%;
}
